<div class="row gx-0">
    <div class="col-md-9">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
                <img src="../../assets/images/24d80752-5953-4d16-bfba-bbdce476f766.jpg" height="400" class="w-100">
            </ng-template>  
            <ng-template carouselSlide>
                <img src="../../assets/images/73c3e721-f9cf-4dd7-b1b1-00e9dc7a47cb.jpg" height="400" class="w-100">
            </ng-template> 
            <ng-template carouselSlide>
                <img src="../../assets/images/a2163572-4db3-4867-a1b6-4f3dafb5b1c5.jpg" height="400" class="w-100">
            </ng-template> 
            <ng-template carouselSlide>
                <img src="../../assets/images/ac9e1de8-0ccf-43d8-b1f3-ffa006efdef1.jpg" height="400" class="w-100">
            </ng-template> 
          </owl-carousel-o>
    </div>
    <div class="col-md-3">
        <img src="../../assets/images/d8dd46c4-41a4-4738-9a3f-8f91733f69e3.jpg" height="200" class="w-100">
        <img src="../../assets/images/e2900edd-a00a-45e9-b6f7-51885eacc154.jpg" height="200" class="w-100">
    </div>
</div>


